@model List<PAWProject.Mvc.Controllers.SourceItemDtoForUi>

<h2>Noticias guardadas</h2>
<p><a asp-action="Create" class="btn btn-primary">Subir nueva noticia</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>SourceId</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.SourceId</td>
                <td>@item.CreatedAt</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Ver detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>